DEBUG=false
APP_ENV=production
GROQ_API_KEY=your_groq_api_key
REDIS_URI=redis://localhost:6379
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_DB_NAME=code_reviewer
JWT_SECRET=your_super_secret_jwt_key
ALLOWED_ORIGINS=["http://localhost:3000","https://yourdomain.com"]
